
SERVER_NAME={{ bunker_service_sites | map(attribute='name') | join(' ') }}
WHITELIST_COUNTRY={{ bunker_service_whitelist_country }}
WHITELIST_IP={{ bunker_service_whitelist_ip }}
DNS_RESOLVERS={{ bunker_service_dns_resolvers }}

USE_BUNKERNET=no
USE_MODSECURITY={{ bunker_service_use_modsecurity }}
MODSECURITY_SEC_RULE_ENGINE={{ bunker_service_modsecurity_sec_rule_engine }}
LIMIT_REQ_RATE={{ bunker_service_limit_req_rate }}
AUTO_LETS_ENCRYPT={{ bunker_service_auto_lets_encrypt }}
EMAIL_LETS_ENCRYPT={{ bunker_service_letsencrypt_email }}
GENERATE_SELF_SIGNED_SSL={{ bunker_service_generate_self_signed_ssl }}
DISABLE_DEFAULT_SERVER=yes
LOG_LEVEL={{ bunker_service_log_level }}
LOG_FORMAT=$host $remote_addr - $request_id - [$time_local] "$request" $status $body_bytes_sent "-" "$http_user_agent" $request_time $upstream_response_time

MULTISITE=yes
SERVE_FILES=no
USE_CLIENT_CACHE=yes
USE_GZIP=yes
USE_REVERSE_PROXY=yes
REVERSE_PROXY_URL=/

{% for site in bunker_service_sites %}
{{ site.name }}_SELF_SIGNED_SSL_SUBJ=/CN={{ site.name }}/
{{ site.name }}_REVERSE_PROXY_HOST={{ site.upstream }}
{% for key, value in (site.options | default({})).items() %}
{{ site.name }}_{{ key }}={{ value }}
{% endfor %}
{% for limit in site.limit_req_urls | default([]) %}
{{ site.name }}_LIMIT_REQ_URL_{{ loop.index }}={{ limit.url }}
{{ site.name }}_LIMIT_REQ_RATE_{{ loop.index }}={{ limit.rate }}
{% endfor %}
{% endfor %}
