{% macro value(v) %}{{ ('yes' if v else 'no') if v is boolean else v }}{% endmacro %}
{% for key, v in (bunker_service_config_defaults | combine(bunker_service_config, bunker_service_fixed_config, recursive=true)).items() %}
{{ key }}={{ value(v) }}
{% endfor %}

{% for site in bunker_service_site_list %}
{{ site.name }}_SELF_SIGNED_SSL_SUBJ=/CN={{ site.name }}/
{{ site.name }}_REVERSE_PROXY_HOST={{ site.upstream }}
{% for key, v in (site.options | default({})).items() %}
{{ site.name }}_{{ key }}={{ value(v) }}
{% endfor %}
{% for limit in site.limit_req_urls | default([]) %}
{{ site.name }}_LIMIT_REQ_URL_{{ loop.index }}={{ limit.url }}
{{ site.name }}_LIMIT_REQ_RATE_{{ loop.index }}={{ limit.rate }}
{% endfor %}
{% endfor %}
