[Container]
Image={{ bunker_scheduler_image }}
ContainerName=bunker-scheduler
Pod=proxy.pod
EnvironmentFile=./configs/bunkerized_nginx.env
EnvironmentFile=./configs/json_analytics.env
Volume=bw-data:/data:Z
AutoUpdate={{ bunker_service_auto_update }}

[Service]
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
