[Unit]
Requires=bunker-scheduler.service
After=bunker-scheduler.service

[Container]
Image={{ bunker_service_nginx_image }}
ContainerName=bunker-nginx
EnvironmentFile=./configs/bunkerweb.env
Memory=768M
