# Bunkerweb Configuration — templated by Ansible

SERVER_NAME={{ bunker_server_name }}
WHITELIST_COUNTRY={{ bunker_whitelist_country }}
API_WHITELIST_IP={{ bunker_api_whitelist_ip }}

USE_BUNKERNET=no
USE_MODSECURITY={{ bunker_use_modsecurity }}
LIMIT_REQ_RATE={{ bunker_limit_req_rate }}
AUTO_LETS_ENCRYPT={{ bunker_auto_lets_encrypt }}
EMAIL_LETS_ENCRYPT={{ bunker_letsencrypt_email }}
DISABLE_DEFAULT_SERVER=yes

MULTISITE=yes
SERVE_FILES=no
USE_CLIENT_CACHE=yes
USE_GZIP=yes
USE_REVERSE_PROXY=yes

{{ bunker_server_name }}_REVERSE_PROXY_HOST={{ bunker_nextcloud_upstream_url }}
{{ bunker_server_name }}_REVERSE_PROXY_WS=yes
{{ bunker_server_name }}_MAX_CLIENT_SIZE={{ bunker_max_client_size }}
{{ bunker_server_name }}_USE_CLIENT_CACHE=yes
{{ bunker_server_name }}_ALLOWED_METHODS=GET|POST|HEAD|COPY|DELETE|LOCK|MKCOL|MOVE|PROPFIND|PROPPATCH|PUT|UNLOCK|OPTIONS|REPORT|SEARCH
{{ bunker_server_name }}_X_FRAME_OPTIONS=SAMEORIGIN
